<ion-view view-title="FEATURE AD">
  <ion-content>



    <div class="card">
      <div class="item item-text-wrap">
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">

              <div class="item item-text-wrap">
               <h2>Rs 300</h2>
                <p>Your ad will be on the top list for three days</p>
              </div>



          </ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">


              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
              </div>


          </ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">


            <div class="item item-text-wrap">
              This is a basic Card which contains an item that has wrapping text.
            </div>


          </ion-radio>

        </ion-list>
      </div>
    </div>

    <div class="cart_main_btn">

    <button class="button button-block main-bg-color main-btn" style="background:#08294d !important;"  ng-click="goto('/app/braintree')">
    PROCEED
    </button>

    </div>

  </ion-content>
</ion-view>


