
  <ion-content class="login_content main_bg" scroll="false">

      <div class="logo">
          <img src="img/logo.png" />
      </div>
    <div class="form-login">
            <div class="bottom_form">
                <!--<h4>ENTER YOUR MAIL TO RECEIEVE LATEST OFFERS</h4>-->
                    <!--<div class="put-mail animated bounceInUp" ng-click="enter_email()">-->
                         <!--<p><i class="ion-ios-email-outline animated zoomIn infinite"></i>PUT YOUR MAIL</p>-->
                    <!--</div>-->
                    <a href="#/signin" class="button button-block main-btn animated bounceInUp login-content">SIGN IN</a>

                    <div class="row new-account animated bounceInUp" style="background: #082a50b5;">
                        <div class="col col-75">
                           <h4>create <a href="#/register" class="new NewAccount-text-color">new account</a></h4>
                        </div>
                        <div class="col col-25">
                           <a href="#/app/hot_deals" class="skip-btn">SKIP</a>
                        </div>
                    </div>
            </div>
    </div>

  </ion-content>
