<ion-view view-title="EDIT" >
    <ion-content class="wish_content">

        <!--
            <ion-list class="cart_list">
                <ion-item ng-repeat="item in wish">
                    <div class="row cart_content">
                        <div class="col col-25 item_cart_img" style="background:url({{item.bg}})no-repeat"></div>
                        <div class="col col-mid">
                            <h4 class="item_cart_title">CASUAL WEAR</h4>
                            <p class="item_cart_price main-text-color">215 $</p>
                        </div>
                        <div class="col col-20 delete-icon">
                            <button class="button button-icon" ng-click="removeItemWish($index)"><i class="ion-trash-a"></i></button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        -->


        <!--<div collection-repeat="item in wish"-->
        <!--collection-item-width="100%"-->
        <!--collection-item-height="90"  class="cart_list">-->
        <!---->
        <!--<div class="row cart_content">-->
        <!--<div class="col col-25 item_cart_img" style="background:url({{item.bg}})no-repeat"></div>-->
        <!--<div class="col col-mid">-->
        <!--<h4 class="item_cart_title">CASUAL WEAR</h4> -->
        <!--<p class="item_cart_price main-text-color">215 $</p>-->
        <!--</div>-->
        <!--<div class="col col-20 delete-icon">-->
        <!--<button class="button button-icon" ng-click="removeItemWish($index)"><i class="ion-trash-a"></i></button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--ng-controller="addProductCtrl"-->
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Select Category
                        </div>
                        <select ng-model="selectedCategory" ng-options="x.product_category_name for x in categories">
                        </select>

                        <!--<select ng-model="selectedCategory">-->
                        <!--<option ng-repeat="x in categories" value="{{x.product_category_name}}">{{x.product_category_name}}</option>-->
                        <!--</select>-->
                    </label>



                </div>
            </div>

        </div>


        <div class="card">
            <div class="item item-text-wrap">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="title">
                </label>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <label class="item item-input">
                    <input type="number" placeholder="Price (Rs)" ng-model="price">
                </label>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
         <textarea cols="58" rows="8" ng-model="detail" placeholder="Detail" style="margin-left:16px;">
         </textarea>
            </div>
        </div>


        <!--***********************************************OLD style cloudinary-->
        <!--<div class="card">-->
        <!--<div class="item item-text-wrap">-->
        <!--<label class="item item-input">-->
        <!--<input type="file" placeholder="upload image" ng-src="picture"  ngf-select="vm.uploadFiles($files)"  multiple title="upload" resetOnClick="true">-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->


        <!--<div class="upload_button_holder">-->
        <!--<div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true" >Upload</div>-->
        <!--</div>-->
      <div class="more_img" ng-repeat="item in url" style="background:url({{item}})no-repeat;background-size:cover" ng-click="delPic($index)"></div>

      <div class="more_img" ng-repeat="item in images1" style="background:url({{item}})no-repeat;background-size:cover"></div>



      <button class="button button-full button-assertive" ng-click="takePhoto()">
            Take Photo
        </button>
        <button class="button button-full button-assertive" ng-click="choosePhoto()">
            Choose Photo
        </button>


        <!--<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">-->






        <button type="submit" class="button button-block button-positive"  ng-click="update(title,price,detail,selectedCategory)">
            UPDATE
        </button>




    </ion-content>
</ion-view>
