<ion-modal-view class="sort_modal">
    
    <ion-header-bar class="modal_head">
        <div class="row sorted">
            <div class="col col-80">
                <p class="sort-head sort-btn sorted-icon">
                 <i class="ion-arrow-swap main-text-color sort-icon"></i>SORTED BY
             </p>
            </div>
            <div class="col col-20">
                <span class="close-icon" ng-click="closesortmodal()"><i class="icon ion-android-close main2-text-color"></i></span>
            </div>
        </div>
    </ion-header-bar>
    
    <ion-content class="sort_content">
      
        <ion-list class="sort-list">    
            <!--<ion-item>    -->
                <!--<input type="checkbox" name="check" id="r1">-->
                <!--<label for="r1"> <span></span><P>POULARITY</P>-->
                <!--</label>-->
            <!--</ion-item>-->
            <!--<ion-item>-->
                <!--<input type="checkbox" name="check" id="r2">-->
                <!--<label for="r2"> <span></span><P>NEW</P>-->
                <!--</label>-->
            <!--</ion-item>-->
            <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-checked="item.checked" ng-click="updateSelection(item.id)" style="color: #b2b2b2; margin-top: 5px;">
                {{ item.text }}
            </ion-checkbox>
        </ion-list>
             
    </ion-content>
    
    <ion-footer-bar class="footer modal_footer">
        <button class="button button-block main-btn" ng-click="closesortmodal()">
        OK
        </button>
    </ion-footer-bar>
  </ion-modal-view>