  <ion-content class="welcome_content main_bg" scroll="false">

    <ion-slide-box Auto-play="true" does-continue="true">
        <ion-slide>
          <img src="img/mobiles.png" />
        </ion-slide>
        <ion-slide>
          <img src="img/bikes.png" />
        </ion-slide>
        <ion-slide>
           <img src="img/animals.png" />
        </ion-slide>
        <ion-slide>
           <img src="img/furniture.png" />
        </ion-slide>
        <ion-slide>
            <img src="img/vehicles.png" />
        </ion-slide>

    </ion-slide-box>

<div class="welcome-text">

    <h4>WELCOME TO<span class="main-text-color"> COMPANY NAME </span></h4>
    <p>Just relax and ler’s start shopping  and filling in your bag</p>

</div>
 <a href="#/app/hot_deals" class="button button-block main-btn">START BROWSING</a>
  </ion-content>
